<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CTF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <!-- JavaScript and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"
  />

  <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  <script>
    document.documentElement.className = "js";
    var supportsCssVars = function () {
      var e,
        t = document.createElement("style");
      return (
        (t.innerHTML = "root: { --tmp-var: bold; }"),
        document.head.appendChild(t),
        (e = !!(
          window.CSS &&
          window.CSS.supports &&
          window.CSS.supports("font-weight", "var(--tmp-var)")
        )),
        t.parentNode.removeChild(t),
        e
      );
    };
    supportsCssVars() ||
      alert(
        "Please view this demo in a modern browser that supports CSS Variables."
      );
  </script>
</head>

<body class="demo-1 loading" onload="loader()">
  <div class="loader" id="loader">
    <div id="console"></div>
  </div>
  <div id="main">
    <div class="container navbar">
      <div class="row">
        <ul class="col-md nav">
          <li class="nav-item col-md brand">
            <a class="nav-link" href="/">CTF 2020</a>
          </li>
        </ul>
        <ul class="col-md nav nav-pills justify-content-end links" role="tablist">
          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" >Welcome, <%= user.email.split("@")[0] %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu1" onclick="typeWriter('s3',this)" data-disp="About CTF">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cont" href="/home">Solve Here</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu1" onclick="typeWriter('s3',this)" data-disp="About CTF">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu2">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cont" id="loginbtn" data-toggle="pill" href="#menu3">Log In</a>
          </li>
          <% } %>
        </ul>
      </div>
      <!-- Tab panes -->
    </div>
  <div class="tab-content">
    <div id="home" class="container tab-pane active show">
      <h2 class="content__title">CTF 2020</h2>
      <p class="content__text">
        Web project demonstrating CTF.
      </p>
    </div>
    <div id="menu1" class="container tab-pane fade">
        <div id="s3" class="row col-md typewriter-text">About CTF
        </div>
    </div>
    <div id="menu2" class="container tab-pane fade">
          <form id="signup" action="/signup">
            <h2>Sign Up</h2>
            <label>Email</label>
            <input type="email" id="username" name="email">
              <p class="c-alert emailalert signup"></p>
            <label>Password</label>
            <input type="password" id="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required  name="password">
            <p class="c-alert psalert signup"></p><div id="message">
              <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
              <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
              <p id="number" class="invalid">A <b>number</b></p>
              <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>  
            <button>Sign UP</button>
          </form>       
    </div>
    <div id="menu3" class="container tab-pane fade">
          <form id="login" action="/login">
            <h2>Log In</h2>
            <label>Email</label>
            <input type="email" id="username" name="email">
              <p class="c-alert emailalert login"></p>
            <label>Password</label>
            <input type="password" id="psw" required  name="password">
            <p class="c-alert psalert login"></p>
            <span>
            <button type="submit">Log In</button><a class="nav-link fps" href="/forgotps">Forgot Password</a>
          </span>
          </form>       
    </div>
  </div>
      <div class="glitch">
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
      </div>

  </div>
</div>

</body>
<script>
document.getElementById("main").style = "display: none";

  function loader() {
    setTimeout(loaded, 4000);
  }
  function loaded() {
    document.getElementById("loader").style = "animation: fadeOut; animation-duration: 2s;";
    document.getElementById("main").style = "animation: fadeIn; animation-duration: 2s;";
    setTimeout(function(){
      document.getElementById("loader").style.display="none";
      document.getElementById("main").style = "display: inherited";
    },1000)
  }
  

  var intervalID = window.setInterval(updateScreen, 200);
  var c = document.getElementById("console");

  var txt = [
    "* Starting conf your network device security Starting Bridge socket events into upstart           [OK]",
    "* Starting configure network device - Stopping cold plug devices                                  [OK]",
    "* Stopping log initial device creation                                                            [OK]",
    "* Starting load fallback graphics devices                                                         [OK]",
    "* Starting configure virtual network devices Stopping load fallback graphics devices              [OK]",
    "* Stopping configure virtual network devices                                                      [OK]",
    "* Starting configure network device security                                                      [OK]",
    "* Starting Userspace bootsplash Stopping Userspace bootsplash Starting Mount network Filesystems  [OK]",
    "* Stopping Mount network Filesystems                                                              [OK]",
    "* Starting System V installation compatibility                                                    [OK]",
    "* Starting configure network device                                                               [OK]",
    "* Starting Apparmor profiles                                                                      [OK]",
    "* Checking for running unattended-upgrades                                                        [OK]",
    "* Stopping System V Installation compa                                                            [OK]",
    "* Starting System V runlevel compatibility                                                        [OK]",
    "* Stopping automatic crash report generation                                                      [OK]",
    "* Starting CPU Interrupts balancing daemon                                                        [OK]",
    "* Starting deferred execution scheduler                                                           [OK]",
    "* Starting regular background program processing daemon                                           [OK]",
    "* Starting Light Display Manager                                                                  [OK]",
    "* Starting anachronistic cron                                                                     [OK]",
    "* Starting see kernel messages                                                                    [OK]",
    "* Stopping saue kernel messages                                                                   [OK]",
    "* Pulseaudio configured for per-user sessions                                                     [OK]",
    "* Stopping Susten Runlevel compatibility                                                          [OK]"
  ];

  var docfrag = document.createDocumentFragment();

  function updateScreen() {
    //Shuffle the "txt" array
    txt.push(txt.shift());
    //Rebuild document fragment
    txt.forEach(function (e) {
      var p = document.createElement("p");
      p.textContent = e;
      docfrag.appendChild(p);
    });
    //Clear DOM body
    while (c.firstChild) {
      c.removeChild(c.firstChild);
    }
    c.appendChild(docfrag);
  }

  function activate(){
    if(window.location.hash=="#menu3"){
      document.querySelector("#menu3").classList.add("active")
      document.querySelector("#menu3").classList.add("show")
      document.querySelector("#home").classList.remove("show")
      document.querySelector("#home").classList.remove("active")
      document.querySelector("#loginbtn").classList.add("active")
    }
  }
  activate()
  </script>
<script src="./js/imagesloaded.pkgd.min.js"></script>
<script src="./js/index.js"></script>
<script src="./js/login.js"></script>
</html>